@import "normalize.css";
@import "icon.less";

i[class^=icon] {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background-color: #34393f;
    color: white;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
}
